<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <modules>
            <remove name="WebDAVModule" />
        </modules>
        
        <handlers>
            <remove name="WebDAV" />
            <add name="PHP84_HTTPS_Penerbit" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="F:\php-8.4\php-cgi.exe" resourceType="File" requireAccess="Script" />
        </handlers>

        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>

        <rewrite>
            <rules>
                <rule name="Laravel Rewrite Penerbit" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>

        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
        </staticContent>
    </system.webServer>
</configuration>